doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    block StylesheetBlock
      link(rel="stylesheet" href="./css/style.css")
  body
    block VertexShader
      
    block FragmentShader
        
    .wrapper

    - var pages = ['base', 'gradation', 'time', 'orb'];

    - for(var i=0, len=pages.length; i<len; i++)
      - var page = pages[i];
      - var link = "./" + page + ".html";
      a(href=link) #{page}
      br

    block ContentBlock

    block JavascriptBlock
      script(src="./js/three.min.js")
      script(src="./js/index.js")
