extends ../layout/_base

block VertexShader
  script#v-shader(type="x-shader/x-vertex").
    void main(void){
      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }

block FragmentShader
  script#f-shader(type="x-shader/x-fragment").
    precision mediump float;
    uniform float t; // time
    uniform vec2 r; //resolution
    void main(void) {
      float a = gl_FragCoord.y / 465.0;
      gl_FragColor = vec4(vec3(a), 1.0);
    }

